html,
body {
  padding: 0;
  margin: 0;
  background: #36d1dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Date Picker Styling */

.datePicker {
  &__wrapper {
    color: #e6f7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;

    &-inputDates,
    &-startDate,
    &-endDate {
      display: flex;
      gap: 1rem;
    }

    &-startDate,
    &-endDate {
      input {
        border-radius: 12px;
        border-style: none;
        padding: 2px 16px;

        &:hover {
          box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
            0 8px 12px 6px rgb(60 64 67 / 15%);
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  &__submitBtn {
    background-color: #e6f7ff;
    border-radius: 24px;
    border-style: none;
    color: #3c4043;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
      rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 32px;
    max-width: 30%;
    padding: 2px 16px;

    &:hover {
      color: #36d1dc;
    }

    &:focus {
      border: 2px solid #5b86e5;
      box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
        0 8px 12px 6px rgb(60 64 67 / 15%);
    }
  }
}

////////////////////////////////////////////////////

/* Table Styling */

.table__wrapper {
  width: 50%;
  border-collapse: collapse;
  margin: 4rem 0;

  th,
  td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }

  th {
    background-color: #e6f7ff;
    color: #3c4043;
  }

  tr {
    height: 50px;
    color: #e6f7ff;

    &:hover {
      background-color: #e6f7ff;
      color: #3c4043;
    }
  }
}

////////////////////////////////////////////////////

.errorMessage {
  color: #cc0033;
}
